# =========================
# Dependencies
# =========================
node_modules/

# Python virtual environments
venv/
.venv/
env/

# =========================
# Python
# =========================
__pycache__/
*.pyc
.pytest_cache/

# =========================
# Environment variables
# =========================
.env*
!.env.example

# =========================
# Expo / React Native
# =========================
.expo/
dist/
web-build/
expo-env.d.ts

# =========================
# Native / Mobile
# =========================
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# =========================
# Metro
# =========================
.metro-health-check*

# =========================
# Debug logs
# =========================
npm-debug.*
yarn-debug.*
yarn-error.*

# =========================
# OS junk
# =========================
.DS_Store

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# Generated native folders
# =========================
/ios
/android

# =========================
# Examples / temp
# =========================
app-example
